// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
	text-align: center;
	.h1 {
	color: red;
	}
	.head {
	color: red;
	text-align: center;
	}
	head {
	padding-bottom: 20px;
	text-align: center;
	color: red;
	}
}
